<div class="position-relative top-1">
  <div class="box-shadow scrollbar vh-50 rounded" #scrollToBottom>
    <div class="container">
      <ul>
        <li
          *ngFor="let chatObj of chatInboxArray"
          [ngClass]="{
            'in-msg': chatObj.user === 'Michel Myers',
            'ex-msg': chatObj.user === 'Jason'
          }"
        >
          {{ chatObj.user }} <br /><span class="msg">{{
            chatObj.message
          }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <form
      class="d-flex flex-row"
      [formGroup]="chatForm"
      (ngSubmit)="sendMessage()"
    >
      <select
        formControlName="user"
        class="form-select width-auto me-1"
        aria-label="Default select example"
      >
        <option selected disabled value="">Select User</option>
        <option [value]="'Michel Myers'">Michel Myers</option>
        <option [value]="'Jason'">Jason</option>
      </select>
      <input
        type="text"
        class="w-100 me-1"
        formControlName="message"
        placeholder="Message.."
      />
      <button class="btn btn-primary width-auto" type="submit">Send</button>
    </form>
  </div>
</div>
